{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__content--title text-white mb-25">My Account</h1>
                            <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">Home</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-white">My Account</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->
        
        <!-- my account section start -->
        <section class="my__account--section section--padding">
            <div class="container">
                <div class="my__account--section__inner border-radius-10 d-flex">
                    {% include 'app/selller-part.html' %}
                    <div class="account__wrapper" style="width: 500px;">
                        <form action="{% url 'AddCategoryView' %}" method="post">
                            {% csrf_token %}
                            <div class="account__content">
                                <div id="error-msg"></div>
                                <h3 class="account__content--title mb-20">Create-Category</h3>
                                <div class="account__login--inner">
                                        <input class="account__login--input" placeholder="Product-Category" type="text" required name="product_category" style="width: 300px;"> 
                                    </div>
                                    
                                </div>
                                <button class="new__address--btn primary__btn mb-25" id="Add-product-btn" type="submit">Add Category</button>
                            </div>
                        </form>
                        <div class="cart__table">
                            <table class="cart__table--inner">
                                <thead class="cart__table--header">
                                    <tr class="cart__table--header__items">
                                       
                                        <th class="cart__table--header__list">Category-list</th>
                                    </tr>
                                </thead>
                                
                                <tbody class="cart__table--body">
                                    
                                   

                                    {% for category in categories %}
                                    <tr class="cart__table--body__items">
                                        <td class="cart__table--body__list">
                                            <span class="cart__price">{{ forloop.counter }}. {{category.category_name}}</span>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                   
                                </tbody>
                            </table> 
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- my account section end -->

        <!-- Start shipping section -->
        <section class="shipping__section2 shipping__style3 section--padding pt-0">
            <div class="container">
                <div class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between">
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping1.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Shipping</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping2.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Payment</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping3.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Return</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping4.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Support</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shipping section -->
<script>
    // $('#Add-product-btn').on('click',function (event) {
    //     event.preventDefault();
    //     $.ajax({
    //             url: '/Added-product/',
    //             type: 'POST',
    //             success: function (response) {
    //                 alert(response)
    //                 }
    //             })  
    // });
</script>
    </main>

{% endblock %}