<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{name}}
    <marquee onmouseout="start()" onmouseover="stop()" direction="top">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, quasi minus. Aliquid velit mollitia eos enim. Quo nulla harum minima inventore architecto, maxime sit fugiat voluptas perferendis, ex qui commodi.
    </marquee>
</body>
</html>