{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__content--title text-white mb-25">My Account</h1>
                            <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">Home</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-white">My Account</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->
        <div style="position: absolute; color: red; margin-top: 55px; margin-left: 418px;" id="error-msg">

          </div>
        <!-- my account section start -->
        <section class="my__account--section section--padding">
            <div class="container">
                <div class="my__account--section__inner border-radius-10 d-flex">
                    {% include 'app/selller-part.html' %}
                    <div class="account__wrapper">
                        <form action="{% url 'EditProductView' product=product.id %}" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="account__content">
                                
                                <h3 class="account__content--title mb-20">Edit-product</h3>
                                <div class="account__login--inner">
                                    <b><label for="product_name">Product-Name:</label></b>
                                    
                                    <input class="account__login--input tooltip" placeholder="Product-name" type="text"  value="{{product.product_name}}" name="product_name" id="product_name" required>
                                    <b><label for="product_description">Product-Description:</label></b>
                                    <textarea class="account__login--input" placeholder="Product-description"  name="product_description" id="product_description" required>{{product.product_description}}</textarea>
                                    <b><label for="product_price">Product-Price:</label></b>
                                    <input class="account__login--input" placeholder="Product-price" type="number" value="{{product.product_price}}" name="product_price" id="product_price" step="any">
                                    <div id="product_image"  style="margin-bottom: 30px;">
                                        
                                        <label for="product_category">Product-Category:</label>
                                        <select name="product_category" id="product_category" >
                                            
                                            {% for category in categories %}
                                            
                                                <option value="{{category.category_name}}" {% if product.product_category.category_name == category.category_name %} selected="selected" {% else %}{% endif %}>{{category.category_name}}</option>
                    
                                            {% endfor %}
                                          </select>
                                    </div>
                                    <div id="product_image"  style="margin-bottom: 30px;">
                                        <label for="product_image" style="width: 20px; height: 20px;"> <a href="{{product.product_image.url}}">Product-Image:</a></label>
                                        <input  placeholder="Product-Image" type="file"  name="product_image" value="">
                                    </div>
                                    
                                </div>
                                <button class="new__address--btn primary__btn mb-25" id="Edit-product-btn" pid="{{Page.id}}" type="submit">Edit product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- my account section end -->

        <!-- Start shipping section -->
        <section class="shipping__section2 shipping__style3 section--padding pt-0">
            <div class="container">
                <div class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between">
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping1.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Shipping</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping2.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Payment</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping3.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Return</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                    <div class="shipping__items2 d-flex align-items-center">
                        <div class="shipping__items2--icon">
                            <img src="assets/img/other/shipping4.png" alt="">
                        </div>
                        <div class="shipping__items2--content">
                            <h2 class="shipping__items2--content__title h3">Support</h2>
                            <p class="shipping__items2--content__desc">From handpicked sellers</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shipping section -->
<script>
    // $('#Add-product-btn').on('click',function (event) {
    //     event.preventDefault();
    //     $.ajax({
    //             url: '/add-product/',
    //             type: 'GET',
    //             success: function (response) {
    //                 alert(response)
    //                 }
    //             })  
    // });
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    $('#Edit-product-btn').on('click',function (event) {
        $('#error-msg').empty();    
        var product_price=$('#product_price').val();
        var product_name=$('#product_name').val();  
        var special_char=/^[A-Za-z]*$/;
        if(/ /.test(product_name)){
            event.preventDefault();
            console.log('4');
            $('#error-msg').text(`Product name should not be null`)
            return true;
        }else if(!(special_char.test(product_name))){
            event.preventDefault();
            console.log('5');
            $('#error-msg').text(`Product name should contain these caracters`);
            return true;
        }
        else{
            console.log('6');
            $('#error-msg').empty();
        }
        if (Math.sign(product_price) < 0) {
            event.preventDefault();
            console.log('1');
            $('#error-msg').text('Product price should not be negative')
            return true;
        }else if (Math.sign(product_price) === 0) {
            event.preventDefault();
            console.log('2');
            $('#error-msg').text('Product price should not be zero')
            return true;
        }else{
            console.log('3');
            $('#error-msg').empty();
        }

    });
</script>
    </main>

{% endblock %}