{% extends 'app/base.html' %} 
{% load static %} 
{% block content %}

<main class="main__content_wrapper">
  <!-- Start breadcrumb section -->
  <section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="breadcrumb__content text-center">
            <h1 class="breadcrumb__content--title text-white mb-25">
              Account Page
            </h1>
            <ul class="breadcrumb__content--menu d-flex justify-content-center">
              <li class="breadcrumb__content--menu__items">
                <a class="text-white" href="index.html">Home</a>
              </li>
              <li class="breadcrumb__content--menu__items">
                <span class="text-white">Account Page</span>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb section -->
<div style="position: absolute; color: red; margin-top: 55px; margin-left: 418px;">
  {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
  <!-- Start login section  -->
  <div class="login__section section--padding">
    <div class="container">
      <form action="{% url 'RegisterView' %}" method="post">
          {% csrf_token %}
        <div class="login__section--inner">
          <div class="row row-cols-md-2 row-cols-1">
            <div class="col">
              <div class="account__login register">
                <div class="account__login--header mb-25">
                  <h2 class="account__login--header__title h3 mb-10">
                    Create an Account
                  </h2>
                  <p class="account__login--header__desc">
                    Click here if you are a Seller:
                    <div style="position: absolute; margin-left: 210px; margin-top: -31px;">
                        <input class="checkout__checkbox--input" id="check1" type="checkbox" name="check1">
                        <span class="checkout__checkbox--checkmark"></span>
                    </div>
                  </p>
                </div>
                <div class="account__login--inner">
                  <input
                    class="account__login--input"
                    placeholder="Username"
                    type="text" name="username" id="usrname" required
                  />
                  <input
                    class="account__login--input"
                    placeholder="Email Addres"
                    type="text" name="email" id="eml" required
                  />
                  <input
                    class="account__login--input"
                    placeholder="Password"
                    type="password" name="password" id="password" required
                  />
                  <input
                    class="account__login--input"
                    placeholder="Confirm Password"
                    type="password" name="conform_password" id="conform_password" required
                  />
                  <button
                    class="account__login--btn primary__btn mb-10"
                    type="submit" id="register_form_btn"
                  >
                    Submit & Register
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End login section  -->

  <!-- Start shipping section -->
  <section class="shipping__section2 shipping__style3 section--padding pt-0">
    <div class="container">
      <div
        class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between"
      >
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="assets/img/other/shipping1.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Shipping</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="assets/img/other/shipping2.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Payment</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="assets/img/other/shipping3.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Return</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="assets/img/other/shipping4.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Support</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End shipping section -->
  <!-- <script>
      $('#register_form_btn').on('click',function () {
          console.log("ht");
        const user_name = $("#usrname").val();
        const email_id = $("#eml").val();
        const password = $("#pswd").val();
        const conform_password = $("#cpswd").val();
        const match_string = " ";
        if (user_name == "" || user_name.match(match_string)) {
            $("input").setCustomValidity("Note*uSERNAME should not be null!!");
         } 
         else {
        }

      })
  </script> -->
</main>

{% endblock %}
