<div class="account__left--sidebar">
    <h2 class="account__content--title h3 mb-20">My Profile</h2>
    <ul class="account__menu">
        <li class="account__menu--list"><a href="/Product-list">Product-List</a></li>
        <li class="account__menu--list"><a href="{% url 'AddProductPage' %}">Add product</a></li>
        <li class="account__menu--list"><a href="#">Add Product-Category</a></li>
        <li class="account__menu--list"><a href="{% url 'Logout' %}">Log Out</a></li>
    </ul>
</div>