<div class="account__left--sidebar">
    <h2 class="account__content--title h3 mb-20">My Profile</h2>
    <ul class="account__menu">
        <li class="account__menu--list"><a href="{% url 'ProductListPage' %}">Product-List</a></li>
        <li class="account__menu--list"><a href="{% url 'AddProductView' %}">Add product</a></li>
        <li class="account__menu--list"><a href="{% url 'AddCategoryView' %}">Add Product-Category</a></li>
        <li class="account__menu--list"><a href="{% url 'InactiveProductList' %}">Inactive products</a></li>
        <li class="account__menu--list"><a href="{% url 'Logout' %}">Log Out</a></li>
    </ul>
</div>